.vh {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

.vh1 {
    background-image: url(2587.jpg);
    background-size: 420px auto;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    background-color: #87b289;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    background-image: url(2587.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #87b289b4;
    background-image: url(2587.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}

.con1 {
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    /*background-color: #fff;*/
    border-radius: 16px;
    padding: 32px 10px;
    position: relative;
    z-index: 5;
    color: white;


}

.images {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
}

.text-sm {
    text-align: center;
    margin: 0;
    font-size: 15px;
    /*color: #7d7f81;*/
}

.text1 {
    text-align: center;
    font-size: 18px;
}

.link {
    color: #2481cc;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.btn {

    background-image: url('4.jpg');
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    border-radius: 22px;
    border: 0;
    padding: 12px 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    /*animation: btnanim 2s infinite;*/
    box-shadow: 0 0 20px #2951a5;

}
.btn2 {
    box-shadow: 0 0 20px #d50706;
    /*animation: btnanim2 2s infinite;*/
    background-image: url('img/5.jpg');
}

.img_new {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}

.href {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background: #f7f8f3 !important;
    position: relative;
    z-index: 9999999999999999999999999999;
}

.href-btn {
    border: 0;
    background-color: #1a8ad5;
    padding: 9px 16px;
    color: white;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Roboto;

}

@keyframes btnanim {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.3;
    }
    100% {
        scale: 1;
    }

}
@keyframes btnanim2 {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.3;
    }
    100% {
        scale: 1;
    }

}
